@media (max-width: 375px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }
  article {
    min-height: unset;
    padding: 2rem;
  }
  main {
    max-width: 100%;
    margin: 0;
  }

  .principal {
    background-image: none;
  }

  .autor {
    gap: 1rem;
  }

  .site-footer {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 0.8rem;
  }
}