body {
    background-color: hsl(214, 17%, 92%);
    font-family: var(--fonte-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    max-width: 1440px;
    margin: 0 auto;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    min-height: 300px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 50px 50px 40px rgba(0, 0, 0, 0.12);
}

.principal {
    background-color: hsl(263, 55%, 52%);
    color: hsl(214, 17%, 92%);
    grid-area: principal;
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 60px;
    background-size: 140px;
}

.midTop {
    background-color: hsl(217, 19%, 35%);
    color: hsl(214, 17%, 92%);
    grid-area: midTop;
}

.bottomL {
    background-color: hsl(0, 0%, 100%);
    grid-area: bottomL;
    color: hsl(224, 10%, 45%);
}

.midBottom {
    background-color: hsl(219, 29%, 14%);
    color: hsl(214, 17%, 92%);
    grid-area: midBottom;
}

.right-card {
    background-color: hsl(0, 0%, 100%);
    grid-area: right-card;
    color: hsl(224, 10%, 45%);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.875rem;
    padding: 20px;
    grid-template-areas:
        "principal principal midTop right-card"
        "bottomL midBottom midBottom right-card";
}

h6 {
    font-size: 0.8rem;
    font-weight: 700;
}

.status {
    font-size: 0.8rem;
    margin-top: 0.30rem;
    font-weight: 500;
}

.autor {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 1.3rem;
}

.autor img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.principal .autor img, .midBottom .autor img {
    border: 2px solid hsl(264, 82%, 80%);
}

.text-primary {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin-bottom: 1.25rem;
}

.text-secondary {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 500;
}

.principal .text-primary {
    color: hsl(0, 0%, 100%);
}

.site-footer {
    margin-bottom: 1.5rem;
    color: hsl(224, 10%, 45%);
}